pkgbase = soundux-mod
	pkgdesc = A cross-platform soundboard with native Wayland-focused fixes
	pkgver = 0.2.8.mod3
	pkgrel = 1
	url = https://github.com/7pxvr/Soundux-mod
	arch = x86_64
	license = GPL-3.0-only
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = pkgconf
	depends = brotli
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libappindicator-gtk3
	depends = libpulse
	depends = libwnck3
	depends = libx11
	depends = libxi
	depends = libxtst
	depends = openssl
	depends = pipewire
	depends = qt6-base
	depends = qt6-webchannel
	depends = qt6-webengine
	depends = zlib
	provides = soundux
	conflicts = soundux
	conflicts = soundux-git
	conflicts = soundux-mod-git
	source = soundux-mod::git+https://github.com/7pxvr/Soundux-mod.git#tag=0.2.8.mod3
	sha256sums = SKIP

pkgname = soundux-mod
